<ul>
<% @events.each do |event| %>
  <li>
 	  <%= event.name %>
  <%= link_to 'Show', event_path(event) %>
  <%= link_to 'Edit', edit_event_path(event) %>
  <%= link_to 'Delete', event_path(event), :method => :delete, :data => { :conform => "Are you sure?" } %>
  </li>
<% end %>
</ul>
<%= paginate @events %>
<%= link_to 'New Event', new_event_path %>
