<h1>Events list</h1>
<table class="table">
<% @events.each do |event| %>
  <tr>
    <td>
    <%= event.name %>
    </td>

    <td>
    <%= link_to "Show", event_path(event), :class => "btn btn-primary" %>
    <%= link_to " Get XML", event_path(event, :format => :xml), :class => "btn btn-default" %>
    <%= link_to " Get JSON", event_path(event, :format => :json), :class => "btn btn-default" %>
    <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-default" %>
    <%= link_to 'Delete', event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
    </td>
  </tr>
<% end %>

</table>


<div><%= paginate @events %></div>
<div><%= link_to 'New Event', new_event_path %></div>
<div><%= link_to "Atom feed", events_path(:format => :atom) %></div>